---
Language: Cpp
BasedOnStyle: LLVM

AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: false
  AfterStruct: false
  AfterFunction: true
  AfterNamespace: false
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyRecord: false
  SplitEmptyFunction: true
ColumnLimit: 120
IndentCaseLabels: false
IndentWidth: 4
PointerAlignment: Left
SpaceInEmptyParentheses: false
UseTab: Never

...
